/* HeroSection.css */

.hero-image {
  width: 100% !important;
  max-width: 450px !important;
  animation: bounce-infinite 5s infinite;
}

@keyframes bounce-infinite {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

.hero-image:hover {
  transform: scale(1.1); /* Zoom in on hover */
}

.icon-box {
  display: inline-block;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out;
}

.icon-box:hover {
  border-color: #bebae0;
}

.icon {
  font-size: 24px;
  color: #bebae0;
}

.icon-box:hover .icon {
  color: #333;
}
