.right-about {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.about-item {
  flex: 1;
  text-align: center;
  padding: 1.5rem 2rem;
  border: 1px solid transparent;
  border-radius: 7px;
  transition: all 0.4s ease-in-out;
  background: #160a334a;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 0.5rem;
  position: relative;
  max-width: calc(50% - 1rem); /* Ensure two items per row */
}

.about-item:hover {
  border: 1px solid #bebae0; 
}

.large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
  margin: 0;
}

.small-text {
  padding-left: 0;
  text-align: center;
  margin: 0;
  color: var(--color-secondary);
}
